@use "../base/variables" as v;

.product__cards {
  margin-top: 47px;
  gap: 28px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;

  a.product-card {
    display: block;
    max-width: 100%;
    margin-bottom: 17px;

    .wrap-product-card__img {
      overflow: clip;
      width: 100%;

      position: relative;
      aspect-ratio: 260/300;

      img {
        // img має position absolute, бо є Image і в ньому є fill

        transition: all ease-in-out 0.3s;
        // aspect-ratio: 260/300;
        object-fit: cover;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .product-card__name {
      margin-top: 25px;
      margin-bottom: 13px;
      font-size: v.$product-card-name-font-size;
      font-weight: v.$product-card-name-font-weight;
      color: v.$product-card-name-color;

      word-break: break-word;
      overflow-wrap: anywhere;
    }

    .product-card__price {
      font-size: v.$product-card-price-font-size;
      font-weight: v.$product-card-price-font-weight;
      color: v.$product-card-price-color;
    }
  }
}
