@use "../base/variables" as v;

section.about-page {
  .about__container {
    .about__body {
      padding-top: clamp(2.5rem, 1.938rem + 2.81vw, 5.313rem); // 85px
      padding-bottom: clamp(2.5rem, 1.938rem + 2.81vw, 5.313rem); // 85px

      .title {
        margin-bottom: clamp(2.5rem, 2.063rem + 2.19vw, 4.688rem); // 75px

        h2 {
          text-align: center;
        }
      }

      .about__info-box {
        display: flex;
        width: 100%;
        gap: clamp(2.5rem, 1.5rem + 5vw, 7.5rem); // 120px;

        .info__image {
          flex: 0 0 686px;
          min-width: 300px;
          position: relative;
          aspect-ratio: 686/697;

          img {
            // aspect-ratio: 686/697;
          }
        }

        .info__text {
          margin-top: 80px;
          max-width: 714px;
          min-width: 300px;
          display: flex;
          flex-direction: column;
          gap: 45px;
          font-size: 18px;
          text-transform: capitalize;
          line-height: 1.8;

          p {
            font-weight: 400;
          }

          b {
            font-weight: 700;
            color: #868686;
          }
        }
      }

      section.choose-us {
        margin-top: clamp(2.5rem, 1.5rem + 5vw, 7.5rem); // 120px

        .title {
          h2 {
            text-align: start;
          }
        }

        .choose-us__table {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 385px;
          border: 1px solid v.$border-color;

          .choose-us__table-cell {
            display: flex;
            justify-content: center;
            align-items: center;

            &:not(:last-child) {
              border-right: 1px solid v.$border-color;
            }

            .cell__content {
              max-width: 334px;

              b {
                display: block;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.8;
                padding-bottom: 40px;
              }

              p {
                font-size: 18px;
                line-height: 1.8;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}
