@use "../base/variables" as v;

section.collection-page {
  .collection-page__container.collection-page__body {
    margin-top: clamp(1.875rem, 1rem + 4.38vw, 6.25rem); // 100px
    // margin-bottom: clamp(2.5rem, -1.688rem + 20.94vw, 23.438rem); // 375px
    margin-bottom: 20px;
    display: flex;
    gap: 40px;

    .filter-options__box {
      border-right: v.$filters-border;

      .filter-options {
        align-self: flex-start;
        margin-top: 12px;
        padding-right: 30px;

        position: sticky;
        top: 50px;

        .wrap-filter-heading {
          margin-bottom: 30px;

          h5 {
          }
          svg.drop-down-arrow {
            display: none;
          }
        }

        form.filters-body {
          .filter-item-box {
            h6 {
              margin-bottom: 20px;
            }

            .custom-select {
            }

            .price__fields {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .price__field {
                .price__input {
                  min-width: 50px;
                  width: 115px;
                  border: 1px solid #cccccc;
                  padding: 12px;
                  font-size: 16px;
                }
              }
            }

            p.error {
              margin-top: 5px;
            }
          }

          .wrap-buttons {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
      }
    }

    .collection__content {
      flex-grow: 1;

      .collection-content__settings {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .title {
        }

        .wrap-sorting-select {
          position: relative;
          display: inline-block;
          width: clamp(14.063rem, 8.05rem + 9.7vw, 19.688rem); // 315px

          &::after {
            // малюю стрілочку
            content: "";
            display: block;
            background: url("/assets/dropdown_icon.svg") no-repeat; // так отримувати файли із папки public
            // поміняй fill у файлі svg та рефрешни

            width: v.$select-sorting-arrow-size;
            height: v.$select-sorting-arrow-size;

            rotate: 90deg;

            position: absolute;
            top: 50%;
            transform: translateX(-50%); // X, бо я шаманю із rotate: 90deg;
            right: 20px;

            pointer-events: none; // дуже важливо!!! ми не зможемо відкрити меню без цього
            cursor: pointer;
          }

          select.sorting-box {
            width: 100%;
            height: 50px;
            padding: 12px 36px 12px 16px;
            color: v.$select-color;

            cursor: pointer;
            -webkit-appearance: none;
            appearance: none;
            background: none;
            border: v.$select-sorting-border;
            font-family: inherit;
            font-size: 16px;

            option {
            }
          }
        }
      }

      .empty-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
          text-align: center;
        }
        img {
          max-width: 50%;
          aspect-ratio: 1/1;
        }
      }

      .product__cards {
        a.product-card {
        }
      }
    }
  }

  .wrap-pagination {
    margin-top: 60px;
    border-top: 1px solid v.$border-color;
    display: flex;
    justify-content: flex-end;
    margin-bottom: clamp(2.5rem, -1.688rem + 20.94vw, 23.438rem);
    padding-right: 30px;
  }
}
