@use "../base/variables" as v;

section.login-page {
  padding-top: clamp(1.875rem, 9.38vw, 11.25rem); // 180px
  padding-bottom: clamp(1.875rem, 9.38vw, 11.25rem); // 180px

  .login__container {
    .login__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        h2 {
          span {
            font-family: var(--font-tertiary);
            font-size: 40px;
            font-weight: 400;
            line-height: 3; /* 120/40 */
          }
        }
      }

      .form-box {
        max-width: 100%;
        width: 517px;

        form {
          display: flex;
          flex-direction: column;
          align-items: center;

          .wrap-input {
            margin-bottom: 24px;
            width: 100%;
            position: relative;

            input.login__input {
              width: 100%;
              height: 54px;
              padding-left: 18px;
              border: 1px solid v.$accent-color;
            }

            .eye-password {
              width: 30px;
              aspect-ratio: 1/1;
              position: absolute;
              right: 10px;
              top: 10px;
            }

            p {
              margin-top: 10px;
              margin-left: 10px;
              font-size: 16px;
            }
          }

          .settings-box {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .settings__text {
              cursor: pointer;
            }
          }

          button {
            font-weight: 300;
            font-size: 20px;
            padding: 14px 45px;
            margin-top: 50px;
          }
        }

        a {
          display: block;
          text-align: center;
          margin-top: 40px;
          color: v.$secondary-color;
          font-size: 20px;

          cursor: pointer;
        }
      }
    }
  }
}
