@use "../base/variables" as v;

@media (max-width: 1100px) {
  section.payment-page {
    .payment__container {
      &.custom-stripe-container {
      }

      flex-direction: column;
      align-items: center;

      .wrap__title_and_payment__body {
        &.custom-stripe-box {
        }

        .title {
        }

        form.payment__body {
          // flex-direction: column;
          // align-items: center;

          .payment__delivery-info {
            .delivery-info__form-fields {
              .wrap-short-fields {
                width: 100%;
              }

              .wrap-input {
                input.delivery-info__field {
                  width: 100%;

                  &.long-field {
                  }
                }

                p {
                }
              }
            }
          }
        }
        .payment__methods-and-cart-totals {
          section.cart-total {
            .title {
              h2 {
              }
            }
          }

          .title {
            h2 {
            }
          }

          button {
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  section.payment-page {
    .payment__container {
      &.custom-stripe-container {
      }

      .wrap__title_and_payment__body {
        &.custom-stripe-box {
        }

        .title {
        }

        form.payment__body {
          .payment__delivery-info {
            .delivery-info__form-fields {
              .wrap-short-fields {
                flex-direction: column;
                gap: 30px;
              }

              .wrap-input {
                input.delivery-info__field {
                  &.long-field {
                  }
                }
              }
            }
          }
        }

        .payment__methods-and-cart-totals {
          section.cart-total {
            .title {
              h2 {
              }
            }
          }

          .title {
            h2 {
            }
          }

          button {
          }
        }
      }
    }
  }
}
